.page           { margin: 1em auto;  width: 35em;
                  padding: 0.8em;  }
.entries        { margin : 10px ; padding: 0 }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #f4f5f6; }
.flash          { background: #f4f5f6; padding: 0.5em; color: #5485b6;
                  border: 1px solid #f4f5f6; }

header {
	height: 60px; /*ヘッダーの高さ*/
	width: 100%; /*ヘッダーの横幅*/
  background-color:#f4f5f6; /*ヘッダーの背景色*/
	color: #9b4dca; /*ヘッダーの文字の色*/
}
 
header p {
	line-height: 60px; /*行の高さ*/
	float: left; /*左に流す*/
	font-size: 30px; /*文字の大きさ*/
  margin-left: 100px; /*左にマージンを取っている*/
}
 
header nav {
	float: left; /*左に流す*/
	margin-left: 900px; /*左にマージンを取っている*/
}
 
header li {
	line-height: 60px; /*行の高さ*/
	float: left; /*左に流す*/
	margin-left: 30px; /*li間の幅を開くために左にマージンを取っている*/
	list-style: none; /*デフォルトでついているliの黒点をnoneにしている*/
}